
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width:100%;
    display: flex;
}
.car-image{
    width: 836px;
    height: 640px;
}
.form {
    width: 529px;
    height: 640px;
    background-color: #f7f7f7;
}
.title1 {  font-family: Century Gothic, serif;
    padding:  25px  35px;
    width: 100%;
    display: block;
    font-size: 50px;
    color: #333333;
    text-align: center;
}
.title2 {  font-family: Century Gothic, serif;
    margin-top: 30px;
    padding:  10px  55px;
    width: 100%;
    display: block;
    font-size: 25px;
    color: #333333;
    text-align: center;
}
.input {
    display: block;
    align-items: flex-end;
    width: 70%;
    height: 50px;
    border: 2px solid #FFB6C1;
    border-radius: 50px;
    margin-left: 80px;
    margin-top: 35px;
}
.input label{
    font-family: Century Gothic, serif;
    display: block;
    left:0;
    font-size: 20px;
    color: black;
    width: 100%;
    padding-left: 9px;
    top:0;
    pointer-event:none;
    transition: all 0.5s ease-in-out;
}
.input input{
    display: block;
    border:0;
    background-color:transparent;
    width:100%;
    padding:0 11px 0;
    font-size:20px;
    color: black;
}
.input:focus ~ .input input {
    top: -18px;
    font-size:12px;
    color: black;
}
.input:focus ~ .input input,
.input:not(:placeholder-shown) ~ .input input {
    top: -18px;
    font-size:12px;
    color: black;
}
.input input:focus{
    border:none;
    outline:none;
}
.bttn{
    margin-left: 80px;
    margin-top: 30px;
    width: 100%;
    display: flex;
}
.button{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    font-family: Montserrat-Bold, serif;
    text-transform: uppercase;
    width: 70%;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 3px;
    transition: all 0.3s ease-out;

    background-color: #0099cc;
    color: black;
    border: none;
}
.button:hover {
    background: #333333;
    color: white;
}

.body{
    background-color: #F8F3E4;
}
.boxes{
    opacity: 0.8;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: center;
}
.car-image2{

    position: absolute;
    left: 160px;
    top: 90px;
    width: 77%;
    height: 75%;

}
.welcome{
    position	: absolute;
    top		: 5px;
    left		: 0;
    font-family: Century Gothic, serif;
    padding:  10px  10px;
    width: 100%;
    font-size: 50px;
    color: black;
    text-align: center;
}
table{
    font-family: Lucida Sans Unicode, Lucida Grande, Sans-Serif, serif;
    font-size: 14px;
    background: rgba(255,255,255,0.85);
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    position	: absolute;
    top		: 150px;
    left: 210px;
}
th{
    font-weight: normal;
    color: midnightblue;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}td {
     color: blue;
     padding: 9px 8px;
     transition: .3s linear;

 }
tr:hover td {color: #6699ff;}
.back{
    position	: absolute;
    top		: 5px;
    left		: 0;
    padding:  10px  10px;
    width: 100%;

    font-family: Century Gothic, serif;
    font-size: 25px;
    color: black;
    text-align: center;
}
.xml-button{
    position	: absolute;
    top		: 520px;
    left		: 800px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    font-family: Montserrat-Bold, serif;
    text-transform: uppercase;
    width: 20%;
    height: 30px;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 3px;
    transition: all 0.3s ease-out;

    background-color: #0099cc;
    color: black;
    border: none;
}
.back-button{
    position	: absolute;
    top	: 520px;
    left: 300px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    font-family: Montserrat-Bold, serif;
    text-transform: uppercase;
    width: 20%;
    height: 30px;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 3px;
    transition: all 0.3s ease-out;

    background-color: #0099cc;
    color: black;
    border: none;
}
.insert-button{
    position	: absolute;
    top		: 105px;
    left		: 1030px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    font-family: Montserrat-Bold, serif;
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    font-size: 10px;
    letter-spacing: 3px;
    transition: all 0.3s ease-out;
    background-color: mediumvioletred;
    color: black;
    border: none;
}
.xml-button:hover, .back-button:hover, .insert-button:hover  {
    background: #333333;
    color: white;
}
a{
    color: darkblue;
    text-decoration: underline;
    text-align: center;
}
a:active {
    color: mediumvioletred;
}

.insert-label{
    font-family: Century Gothic, serif;
    font-size: 30px;
    color: #333333;
    text-align: center;
    position	: absolute;

    margin-left: 80px;
    margin-top: 35px;
}